<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
</head>
<body>
    <h1>Fiture ADD</h1>
    <table>
        <tr>
            <th>
                <input name="vehicle1" value="ID">
                ID <input name="number">
            </th>

        </tr>
        <tr>
            <th>
                <input name="vehicle1" value="String">
                String <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input name="vehicle1" value="Integer">
                Integer <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input name="vehicle1" value="Float">
                Float <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input name="vehicle1" value="Date">
                Date <input type="date" id="DATE" name="date">
                to
                <input type="date" id="DATE" name="date">
            </th>

        </tr>
        <tr>
            <th>
                <input name="vehicle1" value="Boolean">
                Boolean <input type="text">
            </th>
        </tr>
    </table>
</body>
</html>