<!DOCTYPE html>
<html lang="en">

<head>

    <title>BREADS/browser, read , edit, add, delet</title>
</head>

<body>
    <h1>BREAD, Read , Edit, Add, Delete</h1>
    <table>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="ID">
                ID <input name="number">
            </th>

        </tr>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="String">
                String <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="Integer">
                Integer <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="Float">
                Float <input name="text">
            </th>
        </tr>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="Date">
                Date <input type="date" id="DATE" name="date">
                to
                <input type="date" id="DATE" name="date">
            </th>

        </tr>
        <tr>
            <th>
                <input type="checkbox" name="vehicle1" value="Boolean">
                Boolean <input type="text">
            </th>
        </tr>
    </table>
    
    <a href="add.ejs">ADD</a>

</body>
</html>